
@defer(on interaction) {
    <app-one></app-one>
} @placeholder {
    <app-place-holder></app-place-holder>

}
<br>

@defer(on hover) {
    <app-two></app-two>
} @placeholder {
    <app-place-holder></app-place-holder>
}
<br>

@defer(on immediate) {
    <app-three></app-three>

} @placeholder {
    <app-place-holder></app-place-holder>
}
<br>

@defer(when isVisible) {
    <app-four></app-four>
} @placeholder {
    <app-place-holder></app-place-holder>
}
<br>

@defer(on timer(3s)) {
    <app-five></app-five>
} @placeholder {
    <app-place-holder></app-place-holder>
}
<br>

@defer(on interaction; prefetch on timer(5s) ) {
    <app-six></app-six>
} @placeholder {
    <app-place-holder></app-place-holder>
}
<br>

@defer() {
    <app-seven></app-seven>
} @placeholder {
    <app-place-holder></app-place-holder>
} 
<br>

<button (click)="show()">Show</button>